#userBookings .card {
    margin-bottom: 20px;
}

#userBookings h1 {
    margin-bottom: 20px;
}

#userBookings .card-block {
    padding: 20px;
}

#userBookings .card-header {
    text-transform: capitalize;
}

#userBookings .card-title {
    font-size: 18px;
}

#userBookings .booking-desc {
    font-size: 14px;
}

#userBookings .booking-days {
    font-size: 14px;
    font-weight: bold;
}

#userBookings .booking-price-value {
    font-weight: 700;
}

#userBookings .btn-bwm {
    color: white;
    font-size: 14px;
    padding: 15px;
}