#userRentals .card {
    margin-bottom: 20px;
}

#userRentals .card-block {
    padding: 20px;
}

#userRentals .card-title {
    font-size: 14px;
}

#userRentals .btn-bwm {
    font-size: 12px;
    color: white;
    padding: 10px 15px;
}

#userRentals .btn-delete {
    float: right;
    font-size: 10px;
}

#userRentals .btn-edit {
    font-size: 10px;
    color: white;
    padding: 10px 15px;
    float: right;
    margin-right: 10px;
}

#userRentals .btn-success,
#userRentals .btn-danger {
    font-size: 12px;
}

#userRentals .card-footer {
    font-size: 12px;
}

#userRentals .card-footer p {
    display: inline-block;
    line-height: 40px;
    margin: 0;
}

#userRentals .card-footer .confirm-message {
    font-weight: bold;
    margin-right: 10px;
}

#userRentals .btn-bookings {
    border-color: #f44336;
    background-color: transparent;
    color: #f44336;
}

#userRentals .btn-bookings:hover,
#userRentals .btn-bookings:focus {
    border-color: #f44336;
    background-color: transparent !important;
    color: #f44336;
}

.bookings-inner-container p {
    font-size: 14px;
    margin-bottom: 0px;
}