.review-section {
    float: right;
}

.review-card {
    margin-bottom: 15px;
}

#rentalDetails .upper-section {
    margin-bottom: 30px;
}

#rentalDetails .upper-section img {
    width: 100%;
}

#rentalDetails .details-section {
    color: #484848;
}

#rentalDetails .details-section .rental-type {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}

#rentalDetails .details-section .rental-owner {
    float: right;
}

#rentalDetails .details-section .rental-owner img {
    height: 50px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

#rentalDetails .details-section .rental-owner span {
    display: block;
    font-size: 13px;
    font-weight: 300;
}

#rentalDetails .details-section .rental-title {
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: 700;
}

#rentalDetails .details-section .rental-city {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}

#rentalDetails .details-section .rental-street {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}

#rentalDetails .details-section .rental-rating>span {
    font-size: 31px;
    font-weight: bold;
    color: #ff8a8a;
}

#rentalDetails .details-section .rental-room-info {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
}

#rentalDetails .details-section .rental-room-info span {
    margin-right: 10px;
}

#rentalDetails .details-section .rental-room-info .rental-bedrooms {
    margin-right: 0;
}

#rentalDetails .details-section .rental-room-info i {
    margin-right: 2px;
}

#rentalDetails .details-section .rental-description {
    font-weight: 300;
    margin-bottom: 10px;
}

#rentalDetails .details-section .rental-assets .title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
}

#rentalDetails .details-section .rental-assets span {
    display: block;
    margin-bottom: 15px;
    font-weight: 300;
}